/* Reset default padding and margin, and set font family globally */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* Define global CSS variables (custom properties) */
:root {
  --primary-color: #febd69; /* Light orange */
  --primary-shade: #d49644; /* Darker orange */
}
